@model AspNetCoreVideo.ViewModels.VideoViewModel
<html>
<title>Video</title>
<body>
    @Html.ActionLink("Home", "Index")
        <div>Id: @Model.Id</div>
        <div>Title: @Model.Title</div>
        <div>Genre: @Model.Genre</div>
    </table>
</body>
</html>