@namespace AspNetCoreVideo.Entities
@model IEnumerable<AspNetCoreVideo.ViewModels.VideoViewModel>
<html>
    <title>Video</title>
    <body>
        <table>
            @foreach( var video in Model)
            {
            <tr>
                <td>@Html.ActionLink(video.Id.ToString(), "Details", new { id = video.Id })</td>
                @*<td>@video.Id</td>*@
                <td>@video.Title</td>
                <td>@video.Genre</td>
                
            </tr>
            }
        </table>
    </body>
</html>